[ ca ]
default_ca = CA_default

[ CA_default ]
# Minimal CA database files (needed by openssl ca)
unique_subject = no
dir            = ../../intermediate
database       = $dir/index.txt
new_certs_dir  = $dir/newcerts
serial         = $dir/serial

certificate    = $dir/intermediate_ca.crt
private_key    = pkcs11:model=YubiKey%20YK5;manufacturer=Yubico%20%28www.yubico.com%29;serial=14924286;token=YubiKey%20PIV%20%2314924286;id=%02;object=Private%20key%20for%20Digital%20Signature;type=private

default_md     = sha384
default_days   = 365
policy         = policy_any
copy_extensions = copy

[ policy_any ]
countryName             = supplied
organizationName        = supplied
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional
